:root {
  //--bg-bdColor: #efefef;
  --header-color: #1876f2;
  --btn-color: #ddd;
  --bg-color: #fff;
  --body-color: #efefef;
}
html,
body {
  height: 100vh;
  overflow-x: hidden;
  min-width: 320px;
}

.dark-theme {
  --body-color: #222;
  --header-color: #000;
  --bg-color: #000;
}
body {
  display: flex;
  flex-direction: column;
  text-rendering: optimizeSpeed;
  background: var(--body-color);
  transition: background 0.4s;
  font-size: 16px;
  line-height: 1.2;
  color: #636363;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.main {
  flex-grow: 1;
}
h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  color: #505050;
}
h3 {
  font-size: 16px;
  font-weight: 600;
  color: #505050;
  line-height: 1.2;
}

p {
  font-size: 14px;
  line-height: 1.6;
  color: #777;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
  background: transparent;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 10px;
  margin: auto;
}
